.hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url(img/hero.jpg);
    background-size: cover;
    display: table;
}

.title {
    vertical-align: middle;
    display: table-cell;
    color: white;
    padding-left: 10%;
}